@charset "utf-8";

/* 共通部分------------------------------------------------------------------------------------- */

html{
  font-size: 100%;
  height: 100%;
}
body{
  font-family: "Yu Gothic Medium","游ゴシック Medium","YuGothic","游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
  line-height: 1.7;
  height: 100%;
  /* min-height: 100vh; */
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
main{
  margin: 64px 100px 0;
}


/* menuページ--------------------------------------------------------------------------------- */

/* ロゴ------------------ */
#home img{
  border-radius: 50%;
  object-fit: cover;
  /* margin-left: 140px; */
}
header h1{
  color: #fff;
  font-weight: lighter;
  padding-top: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 20px;
  right: 40px
  
}
/* タイトル */
header h2{
  text-align: left;
  padding-top: 220px;
  margin-left: 16px;
  font-size: 2rem;
  justify-content: flex-start;
  position: absolute;
  top: 10px;
  left: 10px;
}
.sub-title{
  padding-left: 48px;
  position: absolute;
  top: 280px;
  left: 10px;
}
header h3{
  color: #000;
  font-weight: 900;
  width: 340px;
  margin-top: 48px;
  margin-left: 32px;
  line-height: 2rem;
  letter-spacing: 8px;
  text-shadow: 1px 1px 0 #808080;
  position: absolute;
  top: 340px;
  left: 10px;
 
  transition-property: color;
  transition-duration: .3s;
}
.wrap{
  color: #000;
  font-weight: bold;
  width: 340px;
  margin-top: 16px;
  margin-left: 56px;
  line-height: 2rem;
  letter-spacing: 8px;
  text-shadow: 1px 1px 0 #808080;
  position: absolute;
  top: 410px;
  left: 10px;
}
header{
  min-height: 100vh;
  color: skyblue;
  font-family: 'Kaushan Script', cursive;
  position: relative;
}
.top-bg{
  width: 100%;
  height: 580px;
}
.flex-container{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  position: relative;
  bottom: 8px;
  position: absolute;
  top: 510px;
  right: 20px;
}
.flex-container li{
  width: 180px;
  text-align: center;
  height: 50px;
  font-weight: bold; 
}
.flex-container a{
  color: skyblue;
  display: block;
}
.flex-container a:hover{
  /* background: red; */
  /* border-bottom: 10px #fff; */
  opacity: .7;
}
/* メイン----------------- */

article h3{
  width: 87%;
  border-bottom: 4px solid #808080;
  font-weight: bold;
  font-size: 1.35rem;
  margin-bottom: 64px;
}
article p{
  width: 45%;
  font-weight: lighter;
  margin-left: 32px;
  line-height: 2.25rem;
  letter-spacing: 8px;
}
/* スライドショー */
.album{
  background: white;
  position: relative;
  /* margin: auto; */
  left: 25%;
}
.album img{
  width: 45%;
  animation-name: album;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  opacity: 0;
  width: 400px;
  height: 300px;
}
.album .img1{
  display: block;
  /* margin: 0 auto; */
  position: absolute;
  left: 25%;
  bottom: 16px;
}
.album .img2{
  position: absolute;
  /* top: 0; */
  left: 25%;
  bottom: 16px;
  animation-delay: 5s;
}
.album .img3{
  position: absolute;
  /* top: 0; */
  left: 25%;
  bottom: 16px;
  animation-delay: 10s;
}
.album .img4{
  position: absolute;
  /* top: 0; */
  left: 25%;
  bottom: 16px;
  animation-delay: 15s;
}
@keyframes album{
  0%{
    opacity: 0;
  }
  12.5%{
    opacity: 1;
  }
  37.5%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}
.container-2{
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}
.container-2 section{
  width: 100%;
  padding: 0 24px;
}
.container-2 img{
  width: 85%;
  height: 200px;
  margin-bottom: 24px;
  /* padding: 16px; */
  /* margin: 0 auto; */
  /* text-align: center; */
}
.container-2 p{
  font-size: small;
  letter-spacing: .8rem;
}
/* メイン-フレックスボックス- */
.flex{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* display: block; */
}
/* メイン-インフォメーション- */

section h3{
  width: 76%;
  border-bottom: 4px solid #808080;
  font-weight: bold;
  font-size: 1.35rem;
  font-family: 'Kaushan Script', cursive;
}
.info{
  margin-top: 50px;
  width: 50%;
  /* flex: 1; */
}
/* .info-title{
  width: 76%;
  border-bottom: 4px solid #808080;
  font-weight: bold;
  font-size: 1.35rem;
} */
.info-ul{
  list-style: none;
  margin-left: 40px;
}
.info-li{
  width: 74%;
  height: 42px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  text-align: left;
  font-size: larger;
  font-weight: lighter;
  margin-top: 5px;
}
span{
  width: 250px;
  text-align: right;
}
/* メイン-インフォメーション- */
/* メイン-アクセス- */
.map{
  /* flex: 1; */
  width: 50%;
  margin-top: 50px;
}
.map > h3{
  margin-bottom: 24px;
}
/* メイン-アクセス- */
/* メイン-お問い合わせ- */
.contact{
  width: 45%;
  height: 500px;
  /* border: 2px solid; */
}
.contact dl{
  margin: 24px 0 0 40px;
  line-height: 1.4rem;
  font-size: large;
}
.contact dd{
  margin-left: 24px;
  padding: 8px;
}
/* メイン-お問い合わせ- */
/* フッター */
footer{
  background-color: #756366;
  padding: 40px 0 40px;
}
footer p{
  text-align: center;
  font-size: 1.5rem;
}


/* モバイル版------------------------------------------------------------------------------- */

/* スマホ　縦画面スマホ　縦画面スマホ　縦画面スマホ　縦画面 */

@media (max-width: 430px){
  body{
    margin: 0 auto;
    width: 100%;
  }
  header{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  header h1{
    top: -10px;
    right: 20px;
  }
  header h2{
    top: 150px;
  }
  .sub-title{
    top: 410px;
  }
  header h3{
    top: 400px;
  }
  .wrap{
    top: 460px;
  }
  .top-bg{
    width: 100%;
    height: 350px;  
  }
  .flex-container{
    position: initial;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }
  .flex-container li{
    margin: o auto;
    text-align: center;
    width: 80%;
    border-bottom: 1px solid #000;
  }
  .flex-container a{
    padding-top: 14px;
  }
  main{
    width: 100%;
    margin: 0 auto;
  }
  article h3{
    margin-left: 20px;
    padding-left: 20px;
    width: 90%;
    margin-bottom: 350px;
  }
  article p{
    width: 90%;
  }
  .album{
    top: -440px;
    left: -80px;
  }
  .container-2{
    flex-direction: column;
    /* align-items: center; */
    width: 90%;
    margin-left: 32px;
  }
  .container-2 h1{
    border-bottom: 4px solid #808080;
    margin-bottom: 16px;
  }
  .container-2 img{
    width: 100%;
  }
  .container-2 p{
    margin-bottom: 24px;
  }
  .flex{
    flex-direction: column;
    width: 100%;
  }
  .info{
    width: 100%;
  }
  .info-title{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .info li{
    width: 90%;
  }
  .map{
    width: 100%;
  }
  .map h3{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 24px;
  }
  .map iframe{
    width: 95%;
    margin-left: 24px;
    margin-bottom: 24px;
  }
  .contact{
    width: 100%;
    margin: 0 auto;
  }
  .contact h3{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 24px;
  }
  footer{
    height: 64px;
    width: 100%;
  }
}